<form data-request="{{__SELF__}}::onPayForm"
    data-request-update="'{{__SELF__}}::confirm': '#tabs-icons-text-2'"
    data-request-flash role="form">

    <input type="hidden" name="order_id" value="{{user.id}}">

    <div class="row">
        <div class="col-6">
            
            <div class="form-group">
                <label> {{"To'lov miqdori (dollorda)"|_}} </label>
                <input class="form-control" name="amount" placeholder="{{'10'|_}}" type="text">
            </div>
            
            <button type="submit" data-attach-loading class="btn btn-primary my-2"> {{"Hisobni to'ldirish"|_}} </button>

        </div>
    </div>
</form>